# What to NOT put on git

## PyCharm stuff
.idea/

## Data
data/
data/Final_images
data/final_labels
data/Final_images-20201118T145505Z-001.zip

## Data for training classification
Baseline/Data_Images
Baseline/Data_Labels
Baseline/Classification/DATA
Baseline/Classification/Validation
Baseline/Classification/EXTRA
Baseline/Classification/DATA_noHT
Baseline/Classification/Validation_noHT

TEST_DATA

## Baseline
baseline/Classification/Validation/
